#contained-modal-title-vcenter{
  font-size: 20px;
}

.apply-header{
  display: flex;
  gap: 30px;
}
.apply-header-logo{
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 14px;
  height: 100px;
  width: auto;
}

.apply-header-company-name{
  font-size: 18px;
  margin-bottom: 5px !important;
}

.apply-header-description{
  font-size: 1rem;
}

.apply-header-side-description{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}