/* Login Style */

#upperNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 15px 14px 12px;
  border: 1px solid #0000002e;
}

.jobSearchLogo {
  pointer-events: none;
  user-select: none;
  height: 60px;
  width: auto;
}

#EmailInput {
  width: 350px;
}

#exampleInputPassword1 {
  width: 350px;
}

#headerTextDiv{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#headerTextDiv h2{
  pointer-events: none;
  user-select: none;
  font-family: 'Pacifico', cursive !important;
  font-size: 30px !important;
  color: whitesmoke;
}


.inputWidth {
  margin: 0px 2px 4px 2px;
  display: block;
  width: 400px !important;
}


.purpleColor {
  color: rgb(66, 30, 155);
  font-weight: bold;
  transform: translateY(120px);
}

#loggedUserInfo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.headerButtonsDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.headerButtonsAfterLoginDiv {
  display: flex;
  gap: 10px;
}

.applicationOutputLogoDiv {
  display: flex;
  margin-top: 10px;
  gap: 20px;
  margin-bottom: 10px;
}

.applicationOutputLogoDiv:nth-child(2) {
  height: 140px;
  width: auto;
}

.headerButton {
  height: 30px;
  font-size: 15px;
  padding: 6px;
  background-color: #6a2dac00;
  border: solid 1px rgba(209, 209, 209, 0.391);
}
.headerButton:hover {
  background-color: #536a85;
  border: solid 1px #1b1b1b00;
}