* {
  font-family: sans-serif !important;
  margin: 0;
  box-sizing: inherit !important;
  line-height: 1.25;
}

.container {
  flex: 1;
  background-Color: rgb;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#upperBackground {
  background-image: linear-gradient(to right, #283647, #3e5067);
  height: 200px;
}


.opacity0 {
  opacity: 0;
}

.positionAbsolute {
  position: absolute;
}

.placeholderText {
  opacity: 0.5;
  font-size: 13px;
}

p {
  margin: 0;
}

h2 {
  font-weight: bold;
  margin: 0;
  font-size: 22px !important;
  margin-bottom: 5px !important;
}

h3 {
  font-weight: bold;
  margin: 0;
  font-size: 18px !important;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 !important;
}

hr {
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 80%;
  border: #1b1b1b87 0.5px solid;
  opacity: 1;
}
.icon {
  height: 67px;
  width: 67px;
  border-radius: 12px;
}

#loadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#loadingParagraph {
  margin-left: 15px;
}

#CompanyNameInput {
  width: 350px;
}

#LogoInput {
  width: 350px;
}

.displayNone {
  display: none !important;
}

button.shake {
  animation: shake .6s;
  background-color: rgb(183, 53, 52) !important;
  border: rgb(183, 53, 52) !important;
  margin-bottom: 2px;
}

.gradient-button{
  background-size: 155% 100%;
  background-image: linear-gradient(to left, #5a75a2, #414258);
  color: whitesmoke;
  border: solid 1px transparent;
  transition: all .3s ease-in-out;
}

.gradient-button:hover {
  background-position: 100% 0;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}